fastapi
uvicorn[standard]


langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain_openai
chromadb


pip install python-multipart

sentence-transformers
transformers
torch

pypdf

google-generativeai
llama-index
llama-index-core
llama-index-llms-google-genai
llama-index-embeddings-huggingface

pydantic

starlette

python-dotenv
